<!DOCTYPE html>
<html>

<head lang="vi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <base href="/admin">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> -->
    <title>Quản lý tin đăng</title>
</head>

<body>

    <!-- Sidebar Menu -->
    <div class="container-fluid" ng-app="myApp">
        <div class="row">
            <nav class="col-lg-2 d-none d-lg-block bg-light sidebar">
                <div class="user-info">
                    <a href="#" class="clearfix">
                        <div class="user-avatar">
                            <img width="50px" src="/public/images/boy_1544603222.png" alt="avatar">
                        </div>
                        <div class="user-meta" style="margin-top: 20px">
                            <div class="inner">
                                <div class="user-name">
                                    ADMIN 
                                </div>
                                <div class="user-verify font-weight-bold" style="color: #555; font-size: 0.9rem;">
                                    Admin
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <ul class="nav nav-sidebar">
                    <li class="nav-item"><a href="/admin/post" class="nav-link font-weight-bold">Quản lý tin đăng</a></li>
                    <li class="nav-item"><a href="" class="nav-link font-weight-bold">Quản lý doanh thu</a></li>
                    <li class="nav-item"><a href="#" class="nav-link font-weight-bold">Quản lý người dùng</a></li>
                </ul>
            </nav>

            <!-- Thông tin tài khoản -->
         
    </div>
    </div>
   
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script> -->

</body>