<!DOCTYPE html>
<html>

<head lang="vi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <base href="/admin">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <script src="https://use.fontawesome.com/8b70c06b18.js"></script>
   <script src="/javascripts/jquery-3.4.1.min.js"></script>
   <link rel="stylesheet" href="/stylesheets/pagination.min.css">
    <!-- <script src="/javascripts/angularRouter.js" ></script> -->
 <!-- AngulatJS -->
 <script src="/javascripts/angular.min.js"></script>
 
 <script src="/javascripts/dirPagination.js"></script>
 <script src='/javascripts/angularRouter.js'></script>
 <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
 integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


  

    <title>Quản lý tin đăng</title>
</head>

<body>
    <% include ../header/headerPost %>
    <!-- Sidebar Menu -->
    <div class="container-fluid" ng-app="myApp">
        <div class="row">
          
            <nav class="col-lg-2 d-none d-lg-block bg-light sidebar">
                <div class="user-info">
                    <a href="/admin" class="clearfix">
                        <div class="user-avatar">
                            <img width="50px" src="/images/boy_1544603222.png" alt="avatar">
                        </div>
                        <div class="user-meta" style="margin-top: 20px">
                            <div class="inner">
                                <div class="user-name">
                                    <%=data.sign.First_name  %> <%=data.sign.Last_name  %>
                                </div>
                                <div class="user-verify font-weight-bold" style="color: #555; font-size: 0.9rem;">
                                    Admin
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <ul class="nav nav-sidebar">
                    
                    <li class="nav-item"><a href="#!/DuyetPost" class="nav-link font-weight-bold">Quản lý bài đăng</a>
                    </li>
                    <li class="nav-item"><a href="#!/User" class="nav-link font-weight-bold">Quản lý người dùng</a>
                    </li>
                    <li class="nav-item"><a href="#!/Statisticial" class="nav-link font-weight-bold"> Quản lý doanh
                            thu</a></li>
                </ul>
            </nav>
            <div ng-view class="ml-sm-auto col-md-10 text-center"  >

               
            </div>
            
        </div>
        
    </div>
    <% include ../footer/footer %>
    <script src="/javascripts/sigout.js" ></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
    </script> -->
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
   

<script type="text/javascript">
//-----------------
function convert(str) {
  var date = new Date(str),
    mnth = ("0" + (date.getMonth() + 1)).slice(-2),
    day = ("0" + date.getDate()).slice(-2);
  return [ day,mnth,date.getFullYear()].join("-");
}
   var base_url = location.protocol + '//' + document.domain + ':' + location.port;
var app = angular.module("myApp", ["ngRoute","angularUtils.directives.dirPagination"])

        .config(function($routeProvider, $locationProvider) {
            $routeProvider
                .when('/listpost', {
                    templateUrl: '/Admin/Home.html',
                    controller: 'listPost'
                })
                .when('/DuyetPost', {
                    templateUrl: '/Admin/BrowsePost.html',
                    controller: 'adminPost'
                })
                .when('/User', {
                    templateUrl: '/Admin/User.html',
                    controller: 'listuser'
                })
                .when('/Statisticial', {
                    templateUrl: '/Admin/Statisticial.html',
                    controller: 'listuser'
                })
                .otherwise({
                    templateUrl: '/Admin/Home.html',
                    controller: 'listPost'
                })
            $locationProvider.html5Mode(false).hashPrefix('!');
        })
        .controller("listPost", function ($scope, $http) {
            var base_url = location.protocol + '//' + document.domain + ':' + location.port;
            $http.post(base_url + '/laydulieufull').then((result) => {
                result.data.map((value)=>{
                    value.created_at = convert(value.created_at);
                })
                $scope.data = result.data;
            })
            
            $http.post(base_url + '/admin/Listprovince').then((result) => {
                $scope.province = result.data;

            })
            $scope.search = {};
            $scope.queryBy = '$';
            $scope.myClick = function (tenTp, loaiTin) {
                $scope.search = {
                    tenTp: $('#selectCity').val(),
                    tenQuan: $("#selectDistric").val(),
                    tenPhuong: $("#selectWard").val(),
                    ThongTinMoTa: $("#ThongTinMoTa").val()
                }
                $scope.hienthi = false;
                $scope.showresult = true;
            }
            $scope.deletepost = function(id){
                $.ajax({
                    url: base_url + "/deletePost",
                    method: "DELETE",
                    dataType: 'json',
                    data: {
                        ID: id
                    },
                    success: function (res) {
                        if (res && res.statusCode == 200) {
                            alert('Xóa thành công');
                                location.reload();
                        }else{
                            alert('Some thing false')
                        }
                    }
                })
            }
            $scope.hidepost = function(id){
                $.ajax({
                    url: base_url + "/updatestatus", //route deletepost
                    method: "POST",
                    dataType: 'json',
                    data: {
                        ID: id
                    },
                    success: function (res) {
                        if (res && res.statusCode == 200) {
                            
                                location.reload();
                        }else{
                            alert('Some thing false')
                        }
                    }
                })
            }
            $scope.displaypost = function(id){
                $.ajax({
                    url: base_url + "/status", //route deletepost
                    method: "POST",
                    dataType: 'json',
                    data: {
                        ID: id
                    },
                    success: function (res) {
                        if (res && res.statusCode == 200) {
                            
                                location.reload();
                        }else{
                            alert('Some thing false')
                        }
                    }
                })
            }

        })
        .controller('adminPost', function ($scope, $http) {
            var base_url = location.protocol + '//' + document.domain + ':' + location.port;
            $http.post(base_url + '/admin/adminList').then((result) => {
                $scope.data = result.data;

            })
           
            $scope.my = function (id) {
                $.ajax({
                    url: base_url + "/admin/PostUp",
                    method: "PUT",
                    dataType: 'json',
                    data: {
                        ID: id
                    },
                    success: function (res) {
                        if (res && res.statusCode == 200) {
                            alert('Đăng thành công');
                                location.reload();
                        }else{
                            alert('Some thing false')
                        }
                    }
                })
               
            }
            $scope.delete = function (id) {
                $.ajax({
                    url: base_url + "/admin/deletePost",
                    method: "DELETE",
                    dataType: 'json',
                    data: {
                        ID: id
                    },
                    success: function (res) {
                        if (res && res.statusCode == 200) {
                            alert("xóa thành công")
                            location.reload();
                        }else{
                            alert('Some thing false');
                        }
                    }
                })
            }

        })
        .controller('listuser', function ($scope, $http) {
            var base_url = location.protocol + '//' + document.domain + ':' + location.port;
            $http.post(base_url + '/Admin/ListUser').then((result) => { //route admin/user
                $scope.data = result.data;

            })
            $scope.blockuser = function(id){
                $.ajax({
                    url: base_url + "/admin/blockuser",
                    method: "PUT",
                    dataType: 'json',
                    data: {
                        ID: id
                    },
                    success: function (res) {
                        if (res && res.statusCode == 200) {
                            alert("Ẩn thành công")
                            location.reload();
                        }else{
                            alert('Some thing false');
                        }
                    }
                })
            }
            $scope.unblockuser = function(id){
                $.ajax({
                    url: base_url + "/admin/unblockuser",
                    method: "PUT",
                    dataType: 'json',
                    data: {
                        ID: id
                    },
                    success: function (res) {
                        if (res && res.statusCode == 200) {
                            alert("Ẩn thành công")
                            location.reload();
                        }else{
                            alert('Some thing false');
                        }
                    }
                })
            }
            
        })

</script>

    <!-- <script type="text/javascript">
      
        var app = angular.module('myApp', ['angularUtils.directives.dirPagination'],);
        app.controller('controller1', function ($scope, $http) {
            var base_url = location.protocol + '//' + document.domain + ':' + location.port;
            $http.post(base_url + '/laydulieufull').then((result) => {
                $scope.data = result.data;
                
                
            }).catch((err) => {
                $scope.data = err
            });
           
          
            $scope.search = {}
            $scope.queryBy = '$'
            $scope.hienthi = true;
            $scope.shoresult = false;
           
            $scope.myClick = function (tenTp, loaiTin) {
                $scope.search = {
                    tenTp: $('#selectCity').val(),
                    tenQuan: $("#selectDistric").val(),
                    tenPhuong: $("#selectWard").val(),
                    ThongTinMoTa: $("#ThongTinMoTa").val()
                }
                $scope.hienthi = false;
                $scope.showresult = true;
            }
            $scope.timClick = function () {
                $scope.search = {
                    ThongTinMoTa: "Tìm người ở ghép"
                }
            }
        })
    </script> -->
</body>