<!DOCTYPE html>
<html>

<head lang="vi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./Sources/css/bootstrap.css">
    <link rel="stylesheet" href="./Sources/css/admin.css">
    <script src="https://use.fontawesome.com/8b70c06b18.js"></script>
    <title>Quản lý danh sách người dùng</title>
</head>

<body>
    <!-- Sidebar Menu -->
    <div class="container-fluid">
        <div class="row">
            <nav class="col-lg-2 d-none d-lg-block bg-light sidebar">
                <div class="user-info">
                    <a href="#" class="clearfix">
                        <div class="user-avatar">
                            <img width="50px" src="./Sources/img/boy_1544603222.png" alt="avatar">
                        </div>
                        <div class="user-meta" style="margin-top: 20px">
                            <div class="inner">
                                <div class="user-name">
                                    Hoàng Hưng
                                </div>
                                <div class="user-verify font-weight-bold" style="color: #555; font-size: 0.9rem;">
                                    Admin
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <ul class="nav nav-sidebar">
                    <li class="nav-item"><a href="#" class="nav-link font-weight-bold">Quản lý tin đăng</a></li>
                    <li class="nav-item"><a href="#" class="nav-link font-weight-bold">Quản lý doanh thu</a></li>
                    <li class="nav-item"><a href="#" class="nav-link font-weight-bold">Quản lý người dùng</a></li>
                </ul>
            </nav>

            <!-- Thông tin tài khoản -->
            <main role="main" class="ml-sm-auto col-md-10" style="margin-top: 20px">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">Welcome, Admin</h1>
                </div>

                <div class="manager-table">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col" class="text-center">ID</th>
                                <th scope="col" class="text-center">Email</th>
                                <th scope="col" class="text-center">Họ</th>
                                <th scope="col" class="text-center">Tên</th>
                                <th scope="col" class="text-center">Số điện thoại</th>
                                <th scope="col" class="text-center">Ngày tạo</th>
                                <th scope="col" class="text-center">Ngày cập nhật</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td>abcdef@gmail.com</td>
                              <td>Nguyễn</td>
                              <td>Hưng</td>
                              <td>012345798</td>
                              <td>12/05/2020</td>
                              <td>12/05/2020</td>
                            </tr>
                    </table>
                </div>
        </div>
        </main>
    </div>
    </div>
</body>