<!DOCTYPE html>
<html>

<head lang="vi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/DangTin.css">

    <script src="/javascripts/jquery-3.4.1.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script> -->
    <link rel="stylesheet" href="/stylesheets/dropzone.css">
    <script src="/javascripts/dropzone.js"></script>

    <title>Đăng tin</title>
</head>

<body>
    <!-- Thanh Nav -->
    <% include header/headerPost %>

    <!-- Content trang đăng tin -->
    <section class="contentDangTin">

        <div class="container">
            <form action="/DangTin" method="POST" id="PostForm" enctype="multipart/form-data">

                <h1 class="text-center font-weight-bold">Đăng tin mới</h1>
                <p id="DangTin"></p>

                <!-- thông báo error -->
                <div id="signupalert" <%if(!data||!data.error){%> style="display: none;" <% } %>
                    class="alert alert-danger">

                    <p>error:</p>
                    <% if(data && data.error) {%>
                    <span>
                        <%=data.error %>
                        <% } %>
                    </span>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-8">
                        <!-- Địa chỉ cho thuê -->
                        <div class="rentAddress">
                            <h3 class="font-weight-bold">Địa chỉ cho thuê</h3>
                            <!-- Chọn vị trí -->
                            <div class="row">
                                <div class="col-md-3 pt-3">
                                    <div class="form-group">
                                        <select id="selectCity" name="mySelect" class="form-control w-100" required>
                                            <option value=" " selected>Tỉnh thành</option>
                                            <%for(var i = 0 ; i<data.results.length;i++) {%>
                                            <option value="<%=data.results[i]._name%>"><%=data.results[i]._name%>
                                            </option>
                                            <%}%> 
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3 pt-3">
                                <div class="form-group">
                                    <select id="selectDistric" class="form-control w-100" name="selectDis" required>
                                        <option value=" " selected>Quận huyện</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 pt-3">
                                <div class="form-group">
                                    <select id="selectWard" name="selectWard" class="form-control w-100" required >
                                        <option value="" selected>Phường xã</option>
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 pt-3">
                                <div class="form-group">
                                    <select id="selectStreet" class="form-control w-100" name="selectStreet" required>
                                        <option value=" " selected>Đường phố</option>
                                        
                                    </select>
                                </div>
                            </div>

                           
                        </div>

                        <!-- Số nhà -->
                        <label for="address"  class="font-weight-bold">Số nhà:</label><br>
                        <input type="text" name="numberaddress" id="address" class="form-control w-25" required >

                        <!-- Địa chỉ chính xác -->
                        <label for="excelentAddress" class="font-weight-bold" style="margin-top: 20px;">Địa chỉ chính
                            xác</label><br>
                        <input type="text" name="excelentAddress" id="excelentAddress" readonly class="form-control" required>
                    </div>

                    <!-- Thông tin mô tả -->
                    <div class="rentInfo" style="margin-top: 50px;">
                        <h3 class="font-weight-bold">Thông tin mô tả</h3>
                        <div class="row">
                            <div class="col-md-6 pt-3">
                                <div class="form-group">
                                    <select id="inputState" class="form-control w-100" name="ThongTinMoTa" required >
                                        <option value="Loại" selected>Loại chuyên mục</option>
                                        <option value="Phòng trọ">Phòng trọ, nhà trọ</option>
                                        <option value="Nhà nguyên căn">Nhà thuê nguyên căn</option>
                                        <option value="Tìm người ở ghép">Tìm người ở ghép</option>
                                        <option value="Cho thuê căn hộ">Cho thuê căn hộ</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- Tiêu đề -->
                        <label for="infoTitle" class="font-weight-bold">Tiêu đề:</label><br>
                        <input type="text" name="title" id="infoTitle" class="form-control w-75" required>

                        <!-- Nội dung mô tả -->
                        <div class="infoContent" style="margin-top: 20px;">
                            <label for="infoTitle" class="font-weight-bold">Nội dung mô tả:</label><br>
                            <textarea name="content" id="infoContent" rows="5" class="form-control" required></textarea>
                        </div>

                        <!-- Số điện thoại -->
                        <label for="phoneNumber" class="font-weight-bold" style="margin-top: 20px">Số điện
                            thoại:</label><br>
                        <input type="text" name="phoneNumber" id="phoneNumber" value="0<%=data.sign.SDT  %> "
                                            class="form-control w-75" required>

                                            <!-- Giá cho thuê -->
                                            <label for="infoTitle" class="font-weight-bold"
                                                style="margin-top: 20px;">Giá cho
                                                thuê:</label><br>
                                            <div class="input-group mb-3 w-50">
                                                <input type="text" name="gia" id="infoTitle" class="form-control"
                                                    required>
                                                <div class="input-group-append">
                                                    <span class="input-group-text">Đồng</span>
                                                </div>
                                            </div>

                                            <!-- Diện tích -->
                                            <label for="infoAcreage" class="font-weight-bold">Diện tích:</label><br>
                                            <div class="input-group mb-3 w-25">
                                                <input type="number" name="acreage" id="infoTitle" class="form-control"
                                                    required>
                                                <div class="input-group-append">
                                                    <span class="input-group-text">m2</span>
                                                </div>
                                            </div>

                                            <!-- Đối tượng cho thuê -->
                                            <div class="row">
                                                <div class="col-md-4 pt-3">
                                                    <div class="form-group">
                                                        <select id="inputState" name="doituong"
                                                            class="form-control w-100" required>
                                                            <option selected>Đối tượng cho thuê</option>
                                                            <option value="Nam">Nam</option>
                                                            <option value=" Nữ">Nữ</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>

                                    <div class="rentImage" style="margin-top: 50px;">
                                        <h3 class="font-weight-bold">Hình ảnh</h3>
                                        <p>Cập nhật hình ảnh rõ ràng sẽ cho thuê nhanh hơn</p>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Upload</span>
                                            </div>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="inputGroupFile"
                                                    name="uploadImg" multiple required>
                                                <label for="inputGroupFile" class="custom-file-label">Choose
                                                    file</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="addImg">

                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block font-weight-bold"
                                        style="margin-top: 50px;">Hoàn
                                        thành</button>
                                </div>

                                <!-- Lưu ý đăng tin -->
                                <div class="col-md-4">
                                    <div class="rentAlert">
                                        <div class="alert alert-warning">
                                            <h5>Lưu ý khi đăng tin</h5>
                                            <p>
                                                1. Nội dung phải viết bằng tiếng Việt có dấu <br>
                                                2. Tiêu đề tin không dài quá 100 kí tự <br>
                                                3. Các bạn nên điền đầy đủ thông tin vào các mục để tin đăng có hiệu quả
                                                hơn. <br>
                                                4. Để tăng độ tin cậy và tin rao được nhiều người quan tâm hơn, hãy sửa
                                                vị trí tin
                                                rao
                                                của
                                                bạn trên bản đồ bằng cách kéo icon tới đúng vị trí của tin rao. <br>
                                                5. Tin đăng có hình ảnh rõ ràng sẽ được xem và gọi gấp nhiều lần so với
                                                tin rao
                                                không có
                                                ảnh. Hãy đăng ảnh để được giao dịch nhanh chóng! <br>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
            </form>


        </div>
        <!-- <div class="coitaner">
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-8">
                    <h3 class="font-weight-bold">Hình ảnh</h3>
                    <p>Cập nhật hình ảnh rõ ràng sẽ cho thuê nhanh hơn</p>
                    <form method="POST" id="PostForm" action="/uploadfile" placeholder="Drop files here to upload"
                        class="dropzone w-100 text-center" readonly="true">
                    </form>
                </div>
            </div>
        </div> -->

    </section>
    <% include footer/footer %>
    <!-- Xử lý socket.io -->
    <!-- <script type="text/javascript" src="/javascripts/DangTin.js" ></script> -->
    <script src="/javascripts/searchBar.js"></script>
    </script>
    <!-- preview img -->
    <script>
        $(document).ready(function () {
            $('#selectCity ,#selectDistric, #selectWard, #selectStreet ,#address' ).change(()=>{
                var province = $('#selectCity').val();
                var district = ()=>{
                    return $('#selectDistric').val().trim().length == 0? "": `${$('#selectDistric').val()} - `;
                };   
                var ward =()=>{
                    return $('#selectWard').val().trim().length == 0? "": `${$('#selectWard').val()} - `;
                }
               
                var street = ()=>{
                  return $('#selectStreet').val().trim().length == 0?"":`${$('#selectStreet').val()} - `;
                }
                var numberaddress = ()=>{
                    return $('#address').val().trim().length == 0? "": `Số ${$('#address').val()} - `;
                    
                }
                $('#excelentAddress').val(numberaddress()   + street()   + ward()   + district() +   province); 

            })
            $('#inputGroupFile').on('change', function () {
                var files = $(this)[0].files;
                for (var i = 0; i < files.length; i++) {
                    var file = files[i];


                    var fileReader = new FileReader();
                    fileReader.onload = (function (fileParams) {
                        return function (event) {


                            var str = `<div class="col-md-4 pt-3">' 
              <img class="img-thumbnail js-file-image" id="_${i}" style="width: 100%; height: 100%"> 
              </div>`;
                            $('#addImg').append(str);
                            var imageSrc = event.target.result;
                            var fileName = fileParams.name;
                            var fileSize = fileParams.size;

                            // $('.js-file-name').last().text(fileName);
                            // $('.js-file-size').last().text(fileSize);
                            $('.js-file-image').last().attr('src', imageSrc);
                        };
                    })(file);
                    fileReader.readAsDataURL(file);

                }
            });
        });

    </script>
    <!-- signout -->
    <script src="/javascripts/sigout.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
    integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
    integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
    crossorigin="anonymous"></script> 
        </script> -->
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</body>

</html>