<!DOCTYPE html>
<html>

<head lang="vi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/DangTin.css">
   
    <script src="/javascripts/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <link rel="stylesheet" href="/stylesheets/dropzone.css">
    <script src="/javascripts/dropzone.js"></script>

    <title>Đăng tin</title>
</head>

<body>
    <!-- Thanh Nav -->
    <% include header/headerPost %> 

    <!-- Content trang đăng tin -->
    <section class="contentDangTin">
        
        <div class="container">
            <form action="/DangTin" method="POST" id="PostForm" >
               
            <h1 class="text-center font-weight-bold">Đăng tin mới</h1>
            <p id="DangTin"></p>
           
                 <!-- thông báo error -->
                 <div id="signupalert" <%if(!data||!data.error){%> style="display: none;"<% } %>  class = "alert alert-danger" >
   
                    <p>error:</p>
                    <% if(data && data.error) {%> 
                            <span>
                                <%=data.error %> 
                                <% } %> 
                            </span>     
                    </div>
            <hr>
            <div class="row">
                <div class="col-md-8">
                    <!-- Địa chỉ cho thuê -->
                    <div class="rentAddress">
                        <h3 class="font-weight-bold">Địa chỉ cho thuê</h3>
                        <!-- Chọn vị trí -->
                        <div class="row">
                            <div class="col-md-3 pt-3">
                                <div class="form-group">
                                    <select id="mySelect"  name="mySelect" class="form-control w-100" onchange="myFunction()">
                                        <option selected >Tỉnh thành</option>
                                        <%for(var i = 0 ; i<data.results.length;i++) {%>
                                            <option value="<%=data.results[i].tenTp%>"><%=data.results[i].tenTp%> </option>
                                            <%}%> 
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3 pt-3">
                                <div class="form-group">
                                    <select id="selectDis" class="form-control w-100" name="selectDis" onchange="functionDis()">
                                        <option selected>Quận huyện</option>
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 pt-3">
                                <div class="form-group">
                                    <select id="selectWard" name="selectWard" class="form-control w-100" >
                                        <option value="PhuongXa" selected>Phường xã</option>
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 pt-3">
                                <div class="form-group">
                                    <select id="inputState" class="form-control w-100" name="selectStreet">
                                        <option selected>Đường phố</option>
                                        <option>Xa lộ Hà Nội</option>
                                        <option>Điện Biên Phủ</option>
                                        <option>Ung Văn Khiêm</option>
                                    </select>
                                </div>
                            </div>

                           
                        </div>

                        <!-- Số nhà -->
                        <label for="address"  class="font-weight-bold">Số nhà:</label><br>
                        <input type="text" name="numberaddress" id="address" class="form-control w-25">

                        <!-- Địa chỉ chính xác -->
                        <label for="excelentAddress" class="font-weight-bold" style="margin-top: 20px;">Địa chỉ chính
                            xác</label><br>
                        <input type="text" name="excelentAddress" id="excelentAddress" class="form-control">
                    </div>

                    <!-- Thông tin mô tả -->
                    <div class="rentInfo" style="margin-top: 50px;">
                        <h3 class="font-weight-bold">Thông tin mô tả</h3>
                        <div class="row">
                            <div class="col-md-6 pt-3">
                                <div class="form-group">
                                    <select id="inputState" class="form-control w-100" name="ThongTinMoTa">
                                        <option value="Loại" selected>Loại chuyên mục</option>
                                        <option value="Phòng trọ">Phòng trọ, nhà trọ</option>
                                        <option value="Nhà nguyên căn">Nhà thuê nguyên căn</option>
                                        <option value="Tìm người ở ghép">Tìm người ở ghép</option>
                                        <option value="Cho thuê căn hộ">Cho thuê căn hộ</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- Tiêu đề -->
                        <label for="infoTitle" class="font-weight-bold">Tiêu đề:</label><br>
                        <input type="text" name="title" id="infoTitle" class="form-control w-75">

                        <!-- Nội dung mô tả -->
                        <div class="infoContent" style="margin-top: 20px;">
                            <label for="infoTitle" class="font-weight-bold">Nội dung mô tả:</label><br>
                            <textarea name="content" id="infoContent" rows="5" class="form-control"></textarea>
                        </div>

                        <!-- Số điện thoại -->
                        <label for="phoneNumber" class="font-weight-bold" style="margin-top: 20px">Số điện
                            thoại:</label><br>
                        <input type="text" name="phoneNumber" id="phoneNumber" class="form-control w-75">

                        <!-- Giá cho thuê -->
                        <label for="infoTitle" class="font-weight-bold" style="margin-top: 20px;">Giá cho
                            thuê:</label><br>
                        <div class="input-group mb-3 w-50">
                            <input type="text" name="gia" id="infoTitle" class="form-control">
                            <div class="input-group-append">
                                <span class="input-group-text">Đồng</span>
                            </div>
                        </div>

                        <!-- Diện tích -->
                        <label for="infoAcreage" class="font-weight-bold">Diện tích:</label><br>
                        <div class="input-group mb-3 w-25">
                            <input type="number" name="acreage" id="infoTitle" class="form-control">
                            <div class="input-group-append">
                                <span class="input-group-text"  >m2</span>
                            </div>
                        </div>

                        <!-- Đối tượng cho thuê -->
                        <div class="row">
                            <div class="col-md-4 pt-3">
                                <div class="form-group">
                                    <select id="inputState"  name="doituong" class="form-control w-100">
                                        <option selected >Đối tượng cho thuê</option>
                                        <option value="Nam">Nam</option>
                                        <option value=" Nữ">Nữ</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="rentImage" style="margin-top: 50px;">
                        <h3 class="font-weight-bold">Hình ảnh</h3>
                        <p>Cập nhật hình ảnh rõ ràng sẽ cho thuê nhanh hơn</p>
                        <!-- <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Upload</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile" name="upload">
                                <label for="inputGroupFile" class="custom-file-label">Choose file</label>
                            </div>
                        </div> -->
                    </div>

                    <button type="submit" class="btn btn-primary btn-block font-weight-bold"
                        style="margin-top: 50px;">Hoàn
                        thành</button>
                </div>

                <!-- Lưu ý đăng tin -->
                <div class="col-md-4">
                    <div class="rentAlert">
                        <div class="alert alert-warning">
                            <h5>Lưu ý khi đăng tin</h5>
                            <p>
                                1. Nội dung phải viết bằng tiếng Việt có dấu <br>
                                2. Tiêu đề tin không dài quá 100 kí tự <br>
                                3. Các bạn nên điền đầy đủ thông tin vào các mục để tin đăng có hiệu quả hơn. <br>
                                4. Để tăng độ tin cậy và tin rao được nhiều người quan tâm hơn, hãy sửa vị trí tin
                                rao
                                của
                                bạn trên bản đồ bằng cách kéo icon tới đúng vị trí của tin rao. <br>
                                5. Tin đăng có hình ảnh rõ ràng sẽ được xem và gọi gấp nhiều lần so với tin rao
                                không có
                                ảnh. Hãy đăng ảnh để được giao dịch nhanh chóng! <br>
                            </p>
                        </div>
                    </div>
                </div>
            </form>

            <div class="row" style="margin-top: 20px;">
                <div class="col-md-8">
                    <h3 class="font-weight-bold">Hình ảnh</h3>
                    <p>Cập nhật hình ảnh rõ ràng sẽ cho thuê nhanh hơn</p>
                    <form method="POST" id="PostForm" action="/uploadfile" placeholder="Drop files here to upload"
                        class="dropzone w-100 text-center" readonly="true">
                    </form>
                </div>
            </div>
        </div>
              
    </section>
    <!-- Xử lý socket.io -->
    <script type="text/javascript" >
        var socket = io.connect('http://localhost:3000');/*kết nối tới socket*/
    
       function myFunction() {
            var x = document.getElementById('mySelect').value; /*lấy giá trị id "mySelect"*/
            
            socket.emit('takeSelect',x); /*gửi giá trị về socket*/
            
           socket.on("result",function(data){   /*lấy giá trọ khi socket xử lý xong*/
            $("#selectDis").children().remove(); /*xóa hết dữ liệu cũ của id "mySelct"*/
            var a = [];
               if(data.length == 0 || data == undefined){
        
                $("#selectDis").children().remove();
                $("#selectWard").children().remove();
              
               }else if(data.length > 1 || data != undefined){
                for(var i = 0 ; i< data.length; i++){
                    a.push( data[i].tenQuan)
                $("#selectDis").append( "<option value="+"'" + a[i] +"'"+">"+a[i]+"</option>");
               }
               }      
           });
        }
       function functionDis(){
        var y = document.getElementById('selectDis').value;
        
            socket.emit('selectDis',y);
            
           socket.on("updatewards",function(datas){
               var a =[];

               $("#selectWard").children().remove();

               if(datas.length == 0 || datas == undefined){
                $("#selectWard").children().remove();

               }else if(datas.length > 1 || datas != undefined){
                for(var i = 0 ; i< datas.length; i++){
                    a.push(datas[i].tenPhuong)
                $("#selectWard").append( "<option value="+"'" + a[i] +"'"+">"+a[i]+"</option>");
               }
               }
           });
        }
    </script>
    <!-- signout -->
    <script src="/javascripts/sigout.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
    integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
    integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
    crossorigin="anonymous"></script> 
        </script>
</body>
</html>