/* NAV */
/* .nav-custom .nav-item:hover, .nav-link:hover{
    background-color: #fd7e14;
    border-radius: 10px;
} */

.bg-nav{
    background-color: #007bff;
}

section{
    margin-top: 20px;
}

.sidebar-item{
    position: fixed;
}

.sticky{
    position: sticky;
    top: 0;
    padding: 0 15px;
}
#PostForm{
    height: fit-content;
}
.nav-username{
    padding-right: 10px;
}
.carousel-control-next {
    left: 260px;
}


.carousel-indicators {
    position: absolute;
    right: auto;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}