.banner{
    background-image: linear-gradient(45deg, rgba(66, 96, 233, 0.45) 55%, rgba(228, 72, 72, 0.8)), url('../img/header-background.jpg');
    background-size: cover;
    background-position: center;
    height: 70vh;
    /* vh: view height */
    background-attachment: fixed;
}

.banner-title{
    padding-top: 150px;
}

.searching-bar{
    margin: 50px auto;
}

.content1{
    margin-top: 20px;
}