<div ng-controller="listPost">
    <h2>Thống kê bài viết</h2>
    <div class="row">
        <div class="col-md-2 col-sm-2 col-lg-2 pt-3">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <select id="advenceSearch" class="form-control " ng-model="queryBy">
                            <option selected value="$">Tìm kiếm theo</option>
                            <option value="ID">ID</option>
                            <option value="display">Đã duyệt</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control " ng-model="search[queryBy]">
                </div>

            </div>

        </div>
        <div class="col-md-2 col-sm-2 col-lg-2 pt-3">
            <div class="form-group">
                <!-- <select id="ThongTinMoTa" class="form-control ">
                    <option selected value="">Loại tin</option>
                    <option value="Phòng trọ">Phòng trọ, nhà trọ</option>
                    <option value="Nhà nguyên căn">Nhà thuê nguyên căn</option>
                    <option value="Tìm người ở ghép">Tìm người ở ghép</option>
                    <option value="Cho thuê căn hộ">Cho thuê căn hộ</option>
                </select> -->
                <select id="display" class="form-control ">
                    <option selected value="">Tình trạng</option>
                    <option value="1">Đã duyệt</option>
                    <option value="0">Chưa duyệt</option>

                </select>
            </div>
        </div>
        <div class="col-md-2 col-sm-2 col-lg-2 pt-3">
            <div class="form-group">
                <select id="selectCity" class="form-control ">
                    <option  selected value=""> Chọn thành phố</option>
                    <option value="{{x._name}}" ng-repeat="x in province">{{x._name}}</option>                    
                </select>
            </div>
        </div>

        <div class="col-md-2 col-sm-2 col-lg-2 pt-3">
            <div class="form-group">
                <select id="selectDistric" class="form-control ">
                    <option value=""> Chọn Quận huyện</option>
                </select>
            </div>
        </div>
        <div class="col-md-2 col-sm-2 col-lg-2 pt-3">
            <div class="form-group">
                <select id="selectWard" class="form-control ">
                    <option value=""> Chọn Phường/Xã</option>
                </select>
            </div>
        </div>


        <div class="col-md-2 col-sm-2 col-lg-2 pt-3 ">
            <button type="button" id="search" class="btn btn-primary btn-block" ng-click="myClick()">
                Lọc
                tin
            </button>
        </div>
    </div>
    <!-- <div class="row ">

        <div class="col-sm-6" dir-paginate='x in data | filter: search |itemsPerPage:6 '>
            <a href="/admin/Post/{{x.ID}} " style="text-decoration: none; color: #000;">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="/{{x.image}}" height="200 px" class="card-img" alt="">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{x.TieuDe}} </h5>
                                <p class="card-text font-weight-bold">Giá:{{x.Gia}} </p>
                                <p class="card-text">{{x.NoiDung}} </p>
                                <p class="card-text">{{x.tenQuan + "-" + x.tenTp  }} </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div> -->


    <div class="row">

        <div class="col-md-12">
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="text-center">Mã tin</th>
                        <th scope="col" class="text-center">Ảnh đại diện</th>
                        <th scope="col" class="text-center">Tiêu đề</th>
                        <th scope="col" class="text-center">Giá</th>
                        <th scope="col" class="text-center">Địa chỉ</th>
                        <th scope="col" class="text-center">Ngày đăng</th>
                        <th scope="col" class="text-center">Trạng thái</th>
                    </tr>
                </thead>

                <tbody>
                   
                    <tr dir-paginate='x in data | filter: search |itemsPerPage:6 '>
                        <th scope="row">#{{x.ID}} </th>
                        <td><img src="/{{x.image}}" class="rounded " width="100pxs" alt="ảnh đại diện"></td>
                        <td>
                            {{x.TieuDe}}
                            <div style="margin-left:20px; margin-top: 5px;">
                                
                                <button ng-click='deletepost(x.ID)' class="btn btn-light-custom font-weight-bold deletepost"
                                    data-post-id="<%=data.results[i].ID   %> " data-toggle="tooltip"
                                    data-placement="bottom" title="Xóa bài đăng"><i  class="fa fa-trash"></i>
                                    Xóa</button>
                                <a href="/admin/Post/{{x.ID}} "
                                    class="btn btn-light-custom font-weight-bold"><i class="fa fa-info-circle"
                                        aria-hidden="true"></i>
                                    Chi tiết</a>
                                    <i ng-if='x.display ==0' class="fa fa-times-circle" aria-hidden="true"> Chưa duyệt</i>
                                    <i ng-if ='x.display == 1'class="fa fa-check-square-o" aria-hidden="true"> Đã duyệt</i>
                            </div>
                        </td>
                        <td>Giá:{{x.Gia}} </td>
                        <td>{{x.tenQuan}} - {{x.tenTp}}</td>
                        <td>{{x.created_at}}</td>
                        <td class="text-center">
                            <button ng-if=' x.display ==0' ng-click='duyetpost(x.ID)' class="btn btn-light-custom font-weight-bold btnstatus" ><i  class="fa fa-check-square-o">
                            Duyệt</i> </button>
                            <button ng-if='x.status == 1 && x.display ==1' ng-click='hidepost(x.ID)' class="btn btn-light-custom font-weight-bold btnstatus" ><i  class="fa fa-eye-slash">
                                Ẩn</i> </button>
                           
                            <button ng-if='x.status== 0 && x.display ==1'ng-click='displaypost(x.ID)' class="btn btn-light-custom font-weight-bold btnsnewstatus  " ><i
                                    class="fa fa-eye" data-post-id="<%=data.results[i].ID  %> "> Hiện</i></button>
                           
                        </td>

                    </tr>
                  
            </table>


        </div>
    </div>
</div>
<dir-pagination-controls [max-size="6" ] [direction-links="true" ] [boundary-links="true" ]>
</dir-pagination-controls>
<script src="/javascripts/searchBar.js"></script>