<style>
    .btn-light-custom {
        color: #212529;
        background-color: #fff;
    }

    .btn-outline-light-custom {
        /* color: #f8f9fa; */
        background-color: transparent;
        background-image: none;
        /* border-color: #f8f9fa; */
    }
</style>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Welcome, Admin</h1>
</div>
<div class="row">
    <div class="col-md-5 ">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Tìm kiếm</span>
            </div>
            <input type="text" ng-model="search.Email" class="form-control w-50 " placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
    </div>
    <div class="col-md-3 float-right">
        <div class="form-group">
            <select id="inputState" ng-model="Sort" class="form-control w-100">
                <option selected value="">Sort by</option>
                <option value="Created_at">Ngày tạo</option>
                <option value="Email"> Email</option>
            </select>
        </div>
    </div>
</div>

<div class="manager-table">
    <table class="table  ">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="text-center">ID</th>
                <th scope="col" class="text-center">Email</th>
                <th scope="col" class="text-center">Họ</th>
                <th scope="col" class="text-center">Tên</th>
                <th scope="col" class="text-center">Số điện thoại</th>
                <th scope="col" class="text-center">Ngày tạo</th>
                <th scope="col" class="text-center">Ngày cập nhật</th>
                <th scope="col" class="text-center"></th>
                <th scope="col" class="text-center"></th>
            </tr>
        </thead>

        <tbody>

            <tr dir-paginate='x in data | filter: search |itemsPerPage:10 |orderBy :Sort'>
                <th scope="col"> {{x.ID}}</th>
                <td scope="col" class="text-left">{{x.Email}} </td>
                <td scope="col" class="text-center">{{x.First_name}}</td>
                <td scope="col" class="text-center">{{x.Last_name}}</td>
                <td scope="col" class="text-center">0{{x.SDT}}</td>
                <td scope="col" class="text-center">{{x.Created_at}} </td>
                <td scope="col" class="text-center">{{x.Update_at}}</td>
                <td>
                    <a href="/admin/posted/{{x.ID}}" class="nav-link">
                        <button type="button" id="post" class="btn btn-outline-success btn-block font-weight-bold">Bài viết đã đăng</button>
                    </a>
                </td>
                <td>
                    <div style="margin-left:20px; margin-top: 5px;">
                        
                        <button ng-if='x.block ==0 ' ng-click='blockuser(x.ID)'class="btn btn-light-custom  deletepost" 
                            data-post-id=" " data-toggle="tooltip"
                            data-placement="bottom" title="Xóa bài đăng" ><i class="fa fa-lock" aria-hidden="true"> Khóa</i></button>
                            <button ng-if='x.block==1' class="btn btn-light-custom  deletepost" 
                            data-post-id=" " data-toggle="tooltip"
                            data-placement="bottom" title="Xóa bài đăng" ng-click='unblockuser(x.ID)'><i class="fa fa-unlock-alt" aria-hidden="true"></i> Mở khóa</i></button>
                    </div>
                </td>
            </tr>

        </tbody>

    </table>
    
</div>
<dir-pagination-controls [max-size="10" ] [direction-links="true" ] [boundary-links="true" ]>
</dir-pagination-controls>